# Ignore downloaded source files
src/
.git/
build.log
prebuilt/

# Ignore temporary build directories
.tmp/
tmp/
.cache/
autom4te.cache/

# Ignore build artifacts
*.o
*.a
*.so
*.dylib
*.framework
*.xcframework
*.aar
*.jar

# Ignore logs and output
*.log
